*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    background-color: aqua;
    margin:0vh;
}
#logo{
    width: 100px;
    height: 70px;
}

.menu{
    list-style: none;

}
.menu1{
    display: flex;
}

a{
    text-decoration: none;
    padding: 20px;
    color: white !important;
}
a:hover{
   color: rgb(119, 225, 27);
}
.navbar-toggler{
    background-color: white !important;
    color: white;
}
.navbar-toggler-icon{
    margin : 0 !important;
    height: 30px;
    width: 30px;
}
section{
    padding: 75px 16.7%;

}
footer{
    margin-top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #212529;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    color: white;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #18191a;
    width: 100%;
    text-align: center;
}
.footer-bottom p{
     float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}
.navbar-toggler{
    background-color: white !important;
    color: white;
}

@media (max-width: 768px) {
    section {
        padding: 75px 10%; 
    }
}


@media (max-width: 576px) {
    .section{
        padding: 75px 5%;
    }
    section{
        padding: 75px 5%;
    }
    .footer-content{
        margin : 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        text-align: center;
    }
    
    
}
