*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    background-color: aqua;
    margin:0vh;
}
#logo{
    width: 100px;
    height: 70px;
}

.menu{
    list-style: none;

}
.menu1{
    display: flex;
}

a{
    text-decoration: none;
    padding: 20px;
    color: white;
}
a:hover{
   color: rgb(119, 225, 27);
}
.body1{
    
    margin: 30px;
}
.body2{
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: 30px;
}
.body2 h1{
    margin: 30px;
}
.body {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 25px;
}
.body h2 , h3{
    font-weight: bold;

}
.writing{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.condition{
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 20%;
}
.wrapper {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 10px;
    color: #444;
    justify-content: space-between;
}
  
.box {
    color: black;
    margin-top: 30px;
}
.box h5{
    font-weight: bolder;
}
.box li a{
    color: black !important;
}

footer{
    margin-top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #212529;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    color: white;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #18191a;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}
@media (max-width: 576px) {
    section {
        padding: 10px 5%; 
        margin : 0;
    }
    .footer-content p{
        margin-left: 10%;
        margin-right: 10%;
        line-height: 28px;
        font-size: 14px;
        color: #cacdd2;
    }
    .condition{
        margin-left: 0;
        margin-right: 0;
    }
    .wrapper {
        color: #444;
        display: inline-block;
    }
      
    .box {
        color: black;
    }
    .box h5{
        font-weight: bolder;
    }
    .box li a{
        color: black !important;
    }
    
}
